<script>
	import OrugGreen from './ORUGlogo_green.png';
	import OrugWagon from './ORUGlogo_wagon.png';
	import OrugWheel from './ORUGlogo_wheel.png';
    import Screenshot1 fomr './The O'Ruggin Trail.jpeg.png';
</script>

![]({OrugGreen})
![]({OrugWagon})
![]({OrugWheel})
![]({Screenshot1})
